<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.chester.storyline"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Chester Comix Storyline</name>

    <description>
        Put 15 years of funny and colorful history onto a mobile platform for young people who don't usually pick up books! 
    </description>

    <author href="http://www.imaginesimplicity.com" email="tim@imaginesimplicity.com">
        Timothy Wood @codearachnid 
    </author>
    
    
    <gap:plugin name="org.apache.cordova.splashscreen" />




    <preference name="phonegap-version" value="3.1.0" />
    <preference name="splashscreen" value="splash.png" />
    <preference name="fullscreen" value="true" />
    <preference name="orienation" value="portrait" />

</widget>
