@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jm9fdy');
	src:url('fonts/icomoon.eot?#iefix-jm9fdy') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jm9fdy') format('woff'),
		url('fonts/icomoon.ttf?-jm9fdy') format('truetype'),
		url('fonts/icomoon.svg?-jm9fdy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iconmonstr-location-16-icon:before {
	content: "\e635";
}
.icon-iconmonstr-location-12-icon:before {
	content: "\e636";
}
.icon-iconmonstr-user-2-icon:before {
	content: "\e600";
}
.icon-iconmonstr-user-icon:before {
	content: "\e601";
}
.icon-iconmonstr-calendar-7-icon:before {
	content: "\e602";
}
.icon-iconmonstr-calendar-icon:before {
	content: "\e603";
}
.icon-iconmonstr-calendar-4-icon:before {
	content: "\e604";
}
.icon-iconmonstr-certificate-7-icon:before {
	content: "\e605";
}
.icon-iconmonstr-certificate-icon:before {
	content: "\e606";
}
.icon-iconmonstr-certificate-2-icon:before {
	content: "\e607";
}
.icon-iconmonstr-bell-12-icon:before {
	content: "\e608";
}
.icon-iconmonstr-bell-10-icon:before {
	content: "\e609";
}
.icon-iconmonstr-bell-8-icon:before {
	content: "\e60a";
}
.icon-iconmonstr-bell-2-icon:before {
	content: "\e60b";
}
.icon-iconmonstr-photo-camera-7-icon:before {
	content: "\e60c";
}
.icon-iconmonstr-headphones-icon:before {
	content: "\e60d";
}
.icon-iconmonstr-lock-12-icon:before {
	content: "\e60e";
}
.icon-iconmonstr-lock-3-icon:before {
	content: "\e60f";
}
.icon-iconmonstr-lock-icon:before {
	content: "\e610";
}
.icon-iconmonstr-password-6-icon:before {
	content: "\e611";
}
.icon-iconmonstr-password-5-icon:before {
	content: "\e612";
}
.icon-iconmonstr-password-2-icon:before {
	content: "\e613";
}
.icon-iconmonstr-shield-4-icon:before {
	content: "\e614";
}
.icon-iconmonstr-credit-card-5-icon:before {
	content: "\e615";
}
.icon-iconmonstr-banknote-icon:before {
	content: "\e616";
}
.icon-iconmonstr-wrench-7-icon:before {
	content: "\e617";
}
.icon-iconmonstr-gear-icon:before {
	content: "\e618";
}
.icon-iconmonstr-control-panel-icon:before {
	content: "\e619";
}
.icon-iconmonstr-checkbox-17-icon:before {
	content: "\e61a";
}
.icon-iconmonstr-checkbox-19-icon:before {
	content: "\e61b";
}
.icon-iconmonstr-checkbox-14-icon:before {
	content: "\e61c";
}
.icon-iconmonstr-checkbox-16-icon:before {
	content: "\e61d";
}
.icon-iconmonstr-checkbox-9-icon:before {
	content: "\e61e";
}
.icon-iconmonstr-checkbox-7-icon:before {
	content: "\e61f";
}
.icon-iconmonstr-checkbox-6-icon:before {
	content: "\e620";
}
.icon-iconmonstr-checkbox-4-icon:before {
	content: "\e621";
}
.icon-iconmonstr-check-mark-7-icon:before {
	content: "\e622";
}
.icon-iconmonstr-check-mark-4-icon:before {
	content: "\e623";
}
.icon-iconmonstr-check-mark-11-icon:before {
	content: "\e624";
}
.icon-iconmonstr-arrow-icon:before {
	content: "\e625";
}
.icon-iconmonstr-arrow-5-icon:before {
	content: "\e626";
}
.icon-iconmonstr-arrow-37-icon:before {
	content: "\e627";
}
.icon-iconmonstr-arrow-48-icon:before {
	content: "\e628";
}
.icon-iconmonstr-video-hd-3-icon:before {
	content: "\e629";
}
.icon-iconmonstr-picture-3-icon1:before {
	content: "\e62a";
}
.icon-iconmonstr-book-2-icon:before {
	content: "\e62b";
}
.icon-iconmonstr-tumblr-icon:before {
	content: "\e62c";
}
.icon-iconmonstr-sharethis-icon:before {
	content: "\e62d";
}
.icon-iconmonstr-google-plus-icon:before {
	content: "\e62e";
}
.icon-iconmonstr-facebook-icon:before {
	content: "\e62f";
}
.icon-iconmonstr-apple-os-icon:before {
	content: "\e630";
}
.icon-iconmonstr-android-os-icon:before {
	content: "\e631";
}
.icon-iconmonstr-favorite-4-icon:before {
	content: "\e632";
}
.icon-iconmonstr-dashboard-4-icon:before {
	content: "\e633";
}
.icon-iconmonstr-map-5-icon:before {
	content: "\e634";
}
